// This file was auto-generated by Fern from our API Definition.

package workflowgroups

import (
	context "context"
	http "net/http"
	"strings"

	sgsdkgo "github.com/StackGuardian/sg-sdk-go"
	core "github.com/StackGuardian/sg-sdk-go/core"
	internal "github.com/StackGuardian/sg-sdk-go/internal"
	option "github.com/StackGuardian/sg-sdk-go/option"
)

type Client struct {
	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Create a new Workflow Group.
func (c *Client) CreateWorkflowGroup(
	ctx context.Context,
	org string,
	request *sgsdkgo.WorkflowGroup,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupCreateResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/v1/orgs/%v/wfgrps/",
		org,
	)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")

	var response *sgsdkgo.WorkflowGroupCreateResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Read an existing Workflow Group.
func (c *Client) ReadWorkflowGroup(
	ctx context.Context,
	org string,
	wfGrp string,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupGetResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	//DO NOT REVERT - If wfGrp contains "/" then it might be a nested workflow group
	//In this case we need to pass through the / without encoding it
	endpointURL := escapeSlashesForNestedWorkflowGroup(baseURL, org, wfGrp)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	var response *sgsdkgo.WorkflowGroupGetResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Delete an existing Workflow Group.
func (c *Client) DeleteWorkflowGroup(
	ctx context.Context,
	org string,
	wfGrp string,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupDeleteResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	//DO NOT REVERT - If wfGrp contains "/" then it might be a nested workflow group
	//In this case we need to pass through the / without encoding it
	endpointURL := escapeSlashesForNestedWorkflowGroup(baseURL, org, wfGrp)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	var response *sgsdkgo.WorkflowGroupDeleteResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodDelete,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Update an existing Workflow Group.
func (c *Client) UpdateWorkflowGroup(
	ctx context.Context,
	org string,
	wfGrp string,
	request *sgsdkgo.PatchedWorkflowGroup,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupPatch, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	//DO NOT REVERT - If wfGrp contains "/" then it might be a nested workflow group
	//In this case we need to pass through the / without encoding it
	endpointURL := escapeSlashesForNestedWorkflowGroup(baseURL, org, wfGrp)
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")

	var response *sgsdkgo.WorkflowGroupPatch
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPatch,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// Create a new Child Workflow Group within an existing Workflow Group.
func (c *Client) CreateChildWorkflowGroup(
	ctx context.Context,
	org string,
	wfGrp string,
	request *sgsdkgo.WorkflowGroup,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupCreateResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	endpointURL := escapeSlashesForNestedWorkflowGroup(baseURL, org, wfGrp) + "wfgrps/"
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	headers.Set("Content-Type", "application/json")

	var response *sgsdkgo.WorkflowGroupCreateResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodPost,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Request:         request,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// List all the Child Workflow Groups in an existing Workflow Group. Supports Pagination and Filtering using query parameters.
func (c *Client) ListAllChildWorkflowGroups(
	ctx context.Context,
	org string,
	wfGrp string,
	request *sgsdkgo.ListAllChildWorkflowGroupsRequest,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupListAllResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/v1/orgs/%v/wfgrps/%v/wfgrps/listall/",
		org,
		wfGrp,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	var response *sgsdkgo.WorkflowGroupListAllResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// List all the Workflow Groups in an Organization. Supports Pagination and Filtering using query parameters.
func (c *Client) ListAllWorkflowGroups(
	ctx context.Context,
	org string,
	request *sgsdkgo.ListAllWorkflowGroupsRequest,
	opts ...option.RequestOption,
) (*sgsdkgo.WorkflowGroupListAllResponse, error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.app.stackguardian.io",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/api/v1/orgs/%v/wfgrps/listall/",
		org,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)

	var response *sgsdkgo.WorkflowGroupListAllResponse
	if err := c.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	); err != nil {
		return nil, err
	}
	return response, nil
}

// If wfGrp contains "/" then it might be a nested workflow group
// In this case we need to pass through the / without encoding it
func escapeSlashesForNestedWorkflowGroup(baseURL, org, wfGrp string) string {
	var endpointURL string
	if strings.Contains(wfGrp, "/") {
		endpointURL = internal.EncodeURL(
			baseURL+"/api/v1/orgs/%v/wfgrps/",
			org,
		)
		endpointURL += wfGrp + "/"
	} else {
		endpointURL = internal.EncodeURL(
			baseURL+"/api/v1/orgs/%v/wfgrps/%v/",
			org,
			wfGrp,
		)
	}
	return endpointURL
}
